*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-size: 15px;
  font-family: sans-serif;
}
.section{
  margin-left: 350px;
  margin-top: 100px;
  background-color: hsl(212, 45%, 89%);
  width: 900px;
  height: 500px;

  
}

.firstdiv{
  padding: 50px;
  border-radius: 12px;
  text-align: center;

  
  
}


.qrimage{
  height: 200px;
  width: 200px;
  border-radius: 12px;
  border: 8px solid white;
}
.firsttext{
  text-align: center;
  font-size: 15px;
  
}
.secondtext{
  text-align: center;
  font-size: 14px;
  color: hsl(220, 15%, 55%);
}

